<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymleaf.org">
<head>
    <title>Applicant Management System</title><link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link rel="stylesheet" media="screen" th:href="@{/css/app.css}"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/viewStatus}">Application Status</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " th:href="@{/new_ps}">Program Scheduled</a>
              </li>
            <li class="nav-item ">
              <a class="nav-link " th:href="@{/Login}">Admin</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div class="container my-2 my-3" style="text-align: center">
        
        <h1 style="color:darkmagenta; margin-top: 20px;">Applicant status</h1>
        <table border="1" class="table table-striped table-responsive-md my-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Date of Birth</th>
                    <th>Highest Qualification</th>
                    <th>Marks Obtained</th>
                    <th>Goals</th>
                    <th>Program Id</th>
                    <th>Date of Interview</th>
                    <th>Email</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="applicant : ${showapplicant}">
                    <td th:text="${applicant.id}"></td>
                   <td th:text="${applicant.fullName}"></td>
                    <td th:text="${applicant.dob}"></td>
                    <td th:text="${applicant.h_quli}"></td>
                    <td th:text="${applicant.mObt}"></td>
                    <td th:text="${applicant.goals}"></td>
                    <td th:text="${applicant.progId}"></td>
                    <td th:text="${applicant.dobInt}"></td>
                    <td th:text="${applicant.email}"></td>
                    <td th:text="${applicant.status}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>