<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymleaf.org">
<head>
    <title>Applicant Management System</title><link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link rel="stylesheet" media="screen" th:href="@{/css/app.css}"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/viewStatus}">Application Status</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " th:href="@{/new_ps}">Program Scheduled</a>
              </li>
            <li class="nav-item ">
              <a class="nav-link " th:href="@{/Login}">Admin</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div class="container my-2">
        <h1>Get application Status</h1>
        <hr>
        <form  action="#" th:action="@{/getApplicant}" th:object="${statusapplicant}" method="POST">
            <input style="margin-left: 375px;" type="text" th:field="*{id}" placeholder="Applicant Id" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Submit</button> 

        </form>
        <hr>
    </div>
</body>
</html>